<div class="row">
    <div class="column">
        <h4 class="ui header" style="margin-top: 2%;">{{ field_label }}</h4>
    </div>
    <div class="column">
        <div class="field">
            <input type="text" name="{{field_name}}[control]" placeholder="control"
                   value={{ default_control }}>
        </div>
    </div>
    <div class="column">
        <div class="field">
            <input type="text" name="{{field_name}}[variant]" placeholder="control"
                   value={{ default_variant }}>
        </div>
    </div>
</div>